.addItem {
  border: 2px solid #222;
  border-radius: 50%;
  bottom: 2rem;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0 1rem;
  position: absolute;
  right: 3rem;
}
