.form {
  align-items: center;
  background: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  text-align: center;
  width: 90%;
}

.form form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 60%;
}

.form input,
.form select,
.form textarea {
  border: 1px solid #888;
  border-radius: 1rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
}

.form button {
  border: 1px solid #888;
  border-radius: 1rem;
  background: #8c506681;
  font-weight: 600;
  padding: 0.2rem;
}

@media (min-width: 1279.98px) {
  .form {
    width: 55%;
  }
}
